.jumbotron {
  padding: 5rem 1rem;
  background-image: url(img/david-marcu-78A265wPiO4-unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;
  text-shadow: 2px 2px 4px;
}

#About {
  padding: 2rem 1rem;
  padding-top: 4rem;
  background-color: #727b86;
  color: azure;
}

#Project {
  padding: 6rem 1 rem;
  padding-top: 4rem;
  background-color: #a1bcdd;
}

.social-icons {
  padding: 2rem 0 0 0;
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #546d6d, #748f88);
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.social-icons a:hover {
  transform: scale(1.05);
}
